<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Changement identité visuelle </title>
</head>
<body>

<hr>
<p>English version below</p>
<hr>
Bonjour,<br><br>

<p>L’équipe Projet Refonte web est chargée du passage des sites de l'EPFL vers la nouvelle charte graphique. Nous espérons d'ici le début de l'automne avoir passé tous les sites sous le nouveau look de l'EPFL. Nous approchons les 60%.
</p>

<p>Vous êtes la personne responsable du site <a href="{{ WordPress_url }}" target="_blank">{{ WordPress_url }}</a> et avez reçu dernièrement un email de notre part vous proposant de migrer votre site vers la nouvelle charte graphique. N’ayant pas eu de réponse de votre part, pouvons-nous vous aider à résoudre d’éventuelles interrogations ou soucis quelconques ? Si tel est le cas, nous vous invitons à prendre contact avec nous en nous écrivant à <a href="mailto:wp-migration@epfl.ch">wp-migration@epfl.ch</a>
</p>

<p> Nous comptons sur vous pour faire avancer ce projet.
Si par hasard nous venions de vous contacter lors des derniers jours, veuillez excuser notre mail de rappel un peu trop rapide.
</p>

<p>En vous souhaitant nos meilleures salutations et un bel été,<br>
L'équipe Refonte Web EPFL
</p>

<br><br><br>


<hr>
<p>English version</p>
<hr>
Dear Sir or Madam,<br><br>
<p>The WordPress team is in charge of the transition of EPFL sites to the new graphic charter. By early autumn, we hope to have passed all the sites under EPFL's new look. We are approaching 60%.
</p>

<p>You are the person in charge of the site <a href="{{ WordPress_url }}" target="_blank">{{ WordPress_url }}</a> and have recently received an email from us proposing you to migrate your site to the new graphic charter. Not having received any answer from you, can we help you to resolve any questions or concerns you may have? If this is the case, we invite you to contact us by writing to us at wp-migration@epfl.ch
</p>

<p>We are counting on you to move this project forward.
If by any chance we have just contacted you in the last few days, please excuse our a bit too prompt reminder email.
</p>
<p>We wish you all the best and a great summer,<br>
The EPFL Web Redesign Team
</p>

<br><br><br>


</body>
</html>