<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Changement identité visuelle </title>
</head>
<body>

<hr>
<p>English version below</p>
<hr>
Bonjour,<br><br>

<p>Nous vous informons que nous vous avons créé un site vide avec la nouvelle charte graphique sous
    <a href="{{ QA18_url }}" target="_blank">{{ QA18_url }}</a>. Il est protégé derrière un écran de login afin de ne pas le rendre public durant votre préparation.
    Vous trouverez le bouton login en bas à droit de l’écran « coming soon ». Vous pouvez donc dès maintenant composer vos nouvelles pages et votre menu.
</p>


<p>Dès que vous êtes prêts nous vous invitons à nous écrire à <a href="mailto:wp-migration@epfl.ch">wp-migration@epfl.ch</a> pour nous demander la mise en ligne de votre site
    <a href="{{ QA18_url }}" target="_blank">{{ QA18_url }}</a> vers <a href="{{ url_ventilee }}" target="_blank">{{ url_ventilee }}</a> et procéder à la
    redirection du trafic de l’ancienne adresse vers la nouvelle: <a href="{{ url_ventilee }}" target="_blank">{{ url_ventilee }}</a> et à l’archivage de <a href="{{ WordPress_url }}" target="_blank">{{ WordPress_url }}</a>.
</p>

<p>Quelques rappels :
    <ul>
    <li>Pendant la phase d’adaptation c’est votre site  <a href="{{ WordPress_url }}" target="_blank">{{ WordPress_url }}</a>
        (ancienne charte) qui reste visible du public.</li>
    <li>Sachant que ce sont vos pages en cours d’adaptation <a href="{{ QA18_url }}" target="_blank">{{ QA18_url }}</a> qui passeront en ligne
        <a href="{{ url_ventilee }}" target="_blank">{{ url_ventilee }}</a>, si vous devez publier une information rapidement,
        pensez à le faire sur le site public aussi <a href="{{ WordPress_url }}" target="_blank">{{ WordPress_url }}</a>. Afin d’éviter ces doubles mises à jour, il est donc recommandé de minimiser le temps d'adaptation.</li>
    <li>l’aide et des informations sont disponibles sur
        <a href="https://help-wordpress.epfl.ch" target="_blank">https://help-wordpress.epfl.ch</a></li>
    <li>vous pouvez travailler en groupe aux séances « work and share » des
        <a href="https://www.epfl.ch/about/vice-presidencies/fr/vice-presidences/vice-presidence-pour-les-systemes-dinformation/actualites-et-evenements/" target="_blank">permanences WEB</a></li>
    <li>si vous êtes en dehors du réseau de l’EPFL, il faut le VPN.</li>
    </ul>
</p>
<p>Dans l’attente de votre message<br>
Meilleures salutations<br>
L’équipe projet<br>
Refonte Web</p>
<br><br><br>


<hr>
<p>English version</p>
<hr>
Dear Sir or Madam,<br><br>
<p>We inform you that we have created an empty site <a href="{{ QA18_url }}" target="_blank">{{ QA18_url }}</a> with the new graphic charter.
    The site is password protected in order to stay private during the adaptation phase. You will find the login button at the right down corner.
</p>

<p>As soon as you are ready, we invite you to send us an email at <a href="mailto:wp-migration@epfl.ch">wp-migration@epfl.ch</a>
    to request the push on line of your site <a href="{{ QA18_url }}" target="_blank">{{ QA18_url }}</a>
    to <a href="{{ url_ventilee }}" target="_blank">{{ url_ventilee }}</a> and set up the traffic redirects from the old address to the new
    <a href="{{ url_ventilee }}" target="_blank">{{ url_ventilee }}</a> and archiving <a href="{{ WordPress_url }}" target="_blank">{{ WordPress_url }}</a>.
</p>

<p>Some reminders :
    <ul>
    <li>During the adaptation phase, your site <a href="{{ WordPress_url }}" target="_blank">{{ WordPress_url }}</a>
        (old charter) remains the one visible to the public.</li>
    <li>As the pages you are working on, <a href="{{ QA18_url }}" target="_blank">{{ QA18_url }}</a> are the ones which will be online
        <a href="{{ url_ventilee }}" target="_blank">{{ url_ventilee }}</a>, if you need to publish information quickly,
        remember to do it also on the public site too <a href="{{ WordPress_url }}" target="_blank">{{ WordPress_url }}</a>.
        In order to avoid these double updates, it is therefore recommended to minimize the adaptation time.</li>
    <li>Help and information are available at
        <a href="https://help-wordpress.epfl.ch" target="_blank">https://help-wordpress.epfl.ch</a></li>
    <li>you can work in groups at the work and share sessions of the
        <a href="https://www.epfl.ch/about/vice-presidencies/vice-presidencies/information-systems/news-events/" target="_blank">WEB hotlines</a></li>
    <li>if you are outside the EPFL network, you need the VPN.Looking forward to your message.</li>
    </ul>
</p>
<p>Looking forward to your message<br>
Best regards<br>
The project team<br>
Web redesign</p>

<br><br><br>


</body>
</html>