<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reminder adaptations</title>
</head>
<body>

<p>ENGLISH VERSION BELOW</p>
<br>

<p>Bonjour,</p>



<p>L'équipe WordPress est heureuse de vous annoncer que nous venons de passer la barre des 500 sites avec la nouvelle charte graphique. Nous espérons d'ici le début de l'automne avoir passé tous les sites sous le nouveau look de l'EPFL.</p>


<p>Suite à votre demande, votre site <b>{{ site_name }}</b> est en cours d'adaptation à cette nouvelle charte.
<br>Avez-vous des questions ou besoin d'aide ? Si tel est le cas, nous vous invitons à prendre contact avec nous en écrivant à <a href="mailto:wp-migration@epfl.ch">wp-migration@epfl.ch</a>
<br>Nous restons à votre disposition dans l'attente de votre feu vert pour le passage en ligne de votre site "relooké".</p>


<p>En vous souhaitant nos meilleures salutations et un bel été,
   <br> L'équipe Refonte Web EPFL</p>

<br>
<p>Hello,</p>


<p>The WordPress team is pleased to announce that we have just passed the 500 site mark with the new graphic charter. By early autumn, we hope to have passed all the sites under EPFL's new look.</p>


<p>Following your request, your site <b>{{ site_name }}</b> is being adapted to this new charter.
 <br>   Do you have any questions or need help? If this is the case, we invite you to contact us by writing to <a href="mailto:wp-migration@epfl.ch">wp-migration@epfl.ch</a>
 <br>   We remain at your disposal while waiting for your go for the online passage of your "redesigned" website.</p>


<p>We wish you all the best and a great summer,
  <br>  The EPFL Web Redesign Team</p>




</body>
</html>