<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Changement identité visuelle </title>
</head>
<body>

<hr>
<p>English version below</p>
<hr>
Bonjour,<br><br>

<p>Les sites de l’EPFL changent de charte graphique. Votre site <a href="{{ WordPress_url }}" target="_blank">{{ WordPress_url }}</a>
    dont vous avez la responsabilité, n’arbore pas encore la nouvelle identité visuelle.<br>
    Pour procéder au changement, nous proposons deux options :
    <ul>
    <li>copier votre site actuel en y appliquant la charte graphique dans un environnement d'adaptation
    <a href="{{ QA18_url }}" target="_blank">{{ QA18_url }}</a>. Il faudra contrôler les pages et les adapter
        si besoin.</li>
    <li>partir depuis un site vide qui sera créé dans un environnement d'adaptation
    <a href="{{ QA18_url }}" target="_blank">{{ QA18_url }}</a>. Vous pourrez alors insérer votre nouveau contenu.</li>
    </ul>
</p>

<p>Pour organiser votre migration, nous vous demandons de nous spécifier votre choix (site vide ou copie) en nous
    écrivant à  <a href="mailto:wp-migration@epfl.ch">wp-migration@epfl.ch</a> par retour.
</p>

<p> Quelques informations
    <ul>
    <li>Pendant la phase de préparation c’est votre site  <a href="{{ WordPress_url }}" target="_blank">{{ WordPress_url }}</a>
        (ancienne charte) qui reste visible du public.</li>
    <li>Au terme de votre adaptation nous copierons <a href="{{ QA18_url }}" target="_blank">{{ QA18_url }}</a> à
        l'adresse <a href="{{ url_ventilee }}" target="_blank">{{ url_ventilee }}</a> en lieu et place de
         <a href="{{ WordPress_url }}" target="_blank">{{ WordPress_url }}</a>. En cas de contenu à publier durant la
             préparation de votre nouveau site,
        pensez donc à mettre à jour vos informations sur les 2 sites, l’ancien qui reste public et celui que vous préparez en
        remplacement. Afin d’éviter ces doubles mises à jour, il est donc recommandé de minimiser le temps d'adaptation.</li>
    <li>Lorsque terminé, il vous faudra revenir vers nous pour la mise en ligne de vos nouvelles pages, l’archivage de
        l’ancien et la redirection vers le nouveau site.</li>
    </ul>
<br><br>

    Astuces : l’aide et des informations sont disponibles sur
        <a href="https://help-wordpress.epfl.ch" target="_blank">https://help-wordpress.epfl.ch</a>
     - Vous pouvez travailler en groupe aux séances « work and share » des
        <a href="https://www.epfl.ch/about/vice-presidencies/fr/vice-presidences/vice-presidence-pour-les-systemes-dinformation/actualites-et-evenements/" target="_blank">
            permanences WEB</a>  - Si vous êtes en dehors du réseau de l’EPFL, il faut le VPN.</p>

<p>Dans l’attente de votre message<br>
Meilleures salutations<br>
L’équipe projet<br>
Refonte Web</p>

<br><br><br>


<hr>
<p>English version</p>
<hr>
Dear Sir or Madam,<br><br>
<p>EPFL Web sites are changing their graphic charter. The website <a href="{{ WordPress_url }}" target="_blank">{{ WordPress_url }}</a>
    you are responsible for, does not show yet the new visual identity.<br>
    To make the change, we propose two options:
    <ul>
    <li>copy your current site and apply the graphic charter in a preparation environment
    <a href="{{ QA18_url }}" target="_blank">{{ QA18_url }}</a>. It will be necessary to control the pages and
        to adapt them if necessary.</li>
    <li>start from a blank site we will create in a preparation environment
    <a href="{{ QA18_url }}" target="_blank">{{ QA18_url }}</a>. You will then create your new content.</li>
    </ul>
</p>

<p>To organize your migration, return your choice by sending us an email
    <a href="mailto:wp-migration@epfl.ch">wp-migration@epfl.ch</a>  (empty site or copy).
</p>

<p> Some info
    <ul>
    <li>During this preparation phase, your site <a href="{{ WordPress_url }}" target="_blank">{{ WordPress_url }}</a>
        (old charter) remains the one visible to the public.</li>
    <li> at the end of your adaptation we will copy <a href="{{ QA18_url }}" target="_blank">{{ QA18_url }}</a>
        at the following location
        <a href="{{ url_ventilee }}" target="_blank">{{ url_ventilee }}</a> instead of
         <a href="{{ WordPress_url }}" target="_blank">{{ WordPress_url }}</a>. If you need to publish some content
        during the preparation, think about adding it on both sites, the old one and the one you are finalizing.
        It is therefore recommended to minimize the preparation time to avoid double work.</li>
    <li>When finished, you will have to come back to us to put your new pages online, archiving the old pages and
        redirecting to the new site.</li>
<br><br>
</ul>
Tips : Help and information are available at
        <a href="https://help-wordpress.epfl.ch" target="_blank">https://help-wordpress.epfl.ch</a></li>
         - You have the possibility to work in groups at the work and share sessions
        <a href="https://www.epfl.ch/about/vice-presidencies/vice-presidencies/information-systems/news-events/" target="_blank">
           permanences WEB</a> - If you are outside the EPFL network, you need the VPN.

</p>
<p>Looking forward to your message<br>
Best regards<br>
The project team<br>
Web redesign</p>

<br><br><br>


</body>
</html>