import os

JIRA_USERNAME = os.environ.get('JIRA_USERNAME') or "ChangeMe"
JIRA_PASSWORD = os.environ.get('JIRA_PASSWORD') or "ChangeMe"

SMTP_USERNAME = os.environ.get('SMTP_USERNAME') or "ChangeMe"
SMTP_PASSWORD = os.environ.get('SMTP_PASSWORD') or "ChangeMe"